.buttonCustom {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--secondary-color-dark);

    color: white;

    font-weight: 700;
    letter-spacing: 2px;

    height: 100%;
    width: 100%;

    transition-duration: 0.4s;

    cursor: pointer;

    text-transform: uppercase;

    &:hover {
        background-color: var(--main-color-dark);
        border: 1px solid var(--main-color-dark);

        transition-duration: 0.4s;
    }
}
