// === VARIABLES ===
$screen-xs: 320px;
$screen-s: 480px;
$screen-m: 800px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1600px;

$screen-xs-max: 479px;
$screen-s-max: 799px;
$screen-m-max: 1023px;
$screen-l-max: 1279px;
$screen-xl-max: 1599px;

.content {
    padding: 30px 30px 40px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 50px;

    @media (max-width: $screen-xl-max) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    @media (max-width: $screen-l-max) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }
    @media (max-width: $screen-s-max) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(15, 1fr);
    }
    @media (max-width: $screen-xs-max) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(30, 1fr);
    }
}