.bookItem {
    width: 300px;
    height: 400px;
    background-color: #aaa;
}
.bookItem__image {


}
.bookItem__image img {
    max-width: 100%;
}
.bookItem__categories {}
.bookItem__title {}
.bookItem__authors {}