@import './public/index.scss';

.searchResult {
    position: relative;

    &__grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 50px;

        @media (max-width: $screen-xl-max) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
        @media (max-width: $screen-l-max) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
        @media (max-width: $screen-s-max) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
        @media (max-width: $screen-xs-max) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(1, 1fr);
        }
    }

    &__count {
        text-align: center;
        font-weight: 700;
        padding-bottom: 20px;
    }
}
