@import "assets/fonts/fonts";

// === VARIABLES ===
$screen-xs: 320px;
$screen-s: 480px;
$screen-m: 800px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1600px;

$screen-xs-max: 479px;
$screen-s-max: 799px;
$screen-m-max: 1023px;
$screen-l-max: 1279px;
$screen-xl-max: 1599px;

.app {
    font-family: 'Lato', sans-serif;

    &__preloader {
        position: fixed;
        width: 100vw;
        height: 100vh;

        pointer-events: none;

        z-index: 10;
    }
}

