@import "assets/fonts/fonts";


:root {

    // === VARIABLES ===
    --secondary-color: #eceff1;
    --secondary-color-dark: #babdbe;
    --main-color: #10c9c3;
    --main-color-dark: #009793;


}

.app {
    font-family: 'Lato', sans-serif;

    &__preloader {
        position: fixed;
        width: 100vw;
        height: 100vh;

        pointer-events: none;

        z-index: 10;
    }

    &__content {

        box-sizing: border-box;
        padding: 20px 20px 30px;
    }
}

